In [1]:
import pandas as pd
import math
import os
import csv

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.svm import SVR, LinearSVR
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import SGDRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn import preprocessing
from sklearn import utils

In [3]:
train_df = pd.read_csv("E:/IIITH AIML/week14/Train_Kaggle.csv")
test_df = pd.read_csv('E:/IIITH AIML/week14/Test_Kaggle.csv')
combine = [train_df, test_df]

In [4]:
train_df.head()

   Year  Month ProductCategory  Sales(In ThousandDollars)
0  2009      1   WomenClothing                     1755.0
1  2009      1     MenClothing                      524.0
2  2009      1   OtherClothing                      936.0
3  2009      2   WomenClothing                     1729.0
4  2009      2     MenClothing                      496.0

In [5]:
print(train_df.columns.values)

['Year' 'Month' 'ProductCategory' 'Sales(In ThousandDollars)']

In [6]:
train_data = train_df.values
sales = []
for i in train_data:
    if(math.isnan(i[3])):
        sales.append(0)
    else:
        sales.append(i[3])

In [7]:
#replacing nan values
replace_value = sum(sales)/len(sales)
for i in train_data:
    if(math.isnan(i[3])):
        i[3] = replace_value

In [8]:
for dataset in combine:
    dataset['ProductCategory'] = dataset['ProductCategory'].map( {'WomenClothing': 1, 'MenClothing': 2, 'OtherClothing': 3} ).astype(int)

In [9]:
train_df.head()

   Year  Month  ProductCategory  Sales(In ThousandDollars)
0  2009      1                1                     1755.0
1  2009      1                2                      524.0
2  2009      1                3                      936.0
3  2009      2                1                     1729.0
4  2009      2                2                      496.0

In [10]:
for dataset in combine:
    dataset['Sales(In ThousandDollars)'] = dataset['Sales(In ThousandDollars)'].fillna(replace_value)

In [11]:
train_df.head()

   Year  Month  ProductCategory  Sales(In ThousandDollars)
0  2009      1                1                     1755.0
1  2009      1                2                      524.0
2  2009      1                3                      936.0
3  2009      2                1                     1729.0
4  2009      2                2                      496.0

In [12]:
dependency_1 = pd.read_csv("E:/IIITH AIML/week14/MacroEconomicData1.csv")

In [13]:
dependency_1.head()

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
0,2009 - Jan,14421.753,14407.053,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550
1,2009 - Feb,14389.200,14366.177,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100
2,2009 - Mar,14340.702,14351.787,235.067,Democrats,8.7,12.97,11.05,22.22,?,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650
3,2009 - Apr,14326.816,14351.602,235.582,Democrats,9.0,12.97,11.05,22.13,214,56.78,10.25,9.296,7.559,787,12.400,3.62,12.225
4,2009 - May,14345.905,14368.124,235.975,Democrats,9.4,13.32,11.25,22.04,?,61.95,9.11,9.297,7.400,803,12.384,3.52,12.300

In [14]:
dependency_1_values = dependency_1.values

In [15]:
month_dict = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5, 'Jun':6, 'Jul':7, 'Aug':8, 'Sep':9, 'Oct':10, 'Nov':11, 'Dec':12}

In [16]:
i = 0
j = 0
new_train_data = []
headers = ['Year','Month','ProductCategory','Sales(In ThousandDollars)','Year-Month','Monthly Nominal GDP Index (inMillion$)',
           'Monthly Real GDP Index (inMillion$)','CPI','PartyInPower','unemployment rate','CommercialBankInterestRateonCreditCardPlans',
           'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan','Earnings or wages  in dollars per hour',
           'AdvertisingExpenses (in Thousand Dollars)','Cotton Monthly Price - US cents per Pound(lbs)','Change(in%)',
           'Average upland planted(million acres)','Average upland harvested(million acres)','yieldperharvested acre',
           'Production (in  480-lb netweright in million bales)','Mill use  (in  480-lb netweright in million bales)','Exports']
new_train_data.append(headers)
while(i < len(train_data)):
    inner = []
    temp_arr = (dependency_1_values[j][0].split(' '))
    if( (int(temp_arr[0]) == int(train_data[i][0])) and (int(train_data[i][1]) == int(month_dict[temp_arr[2]])) ):
        for l in range(0,4):
            inner.append(train_data[i][l])
        for k in range(0,18):
            inner.append(dependency_1_values[j][k])
    if(i%3 == 2):
        j = j + 1
    i = i + 1
    new_train_data.append(inner)

In [17]:
print(j)

72

In [18]:
output_filename = os.path.join('E:/IIITH AIML/week14/','new_train_data1.csv')
f = open(output_filename, 'ab')
writer = csv.writer(f)
for i in new_train_data:
    writer.writerow(i)
f.close()

In [19]:
new_train_df = pd.read_csv("E:/IIITH AIML/week14/new_train_data1.csv")

In [20]:
new_train_df.head()

,Year,Month,ProductCategory,Sales(In ThousandDollars),Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,...,Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
0,2009,1,WomenClothing,1755.0,2009 - Jan,14421.753,14407.053,233.402,Democrats,7.8,...,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55
1,2009,1,MenClothing,524.0,2009 - Jan,14421.753,14407.053,233.402,Democrats,7.8,...,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55
2,2009,1,OtherClothing,936.0,2009 - Jan,14421.753,14407.053,233.402,Democrats,7.8,...,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55
3,2009,2,WomenClothing,1729.0,2009 - Feb,14389.200,14366.177,234.663,Democrats,8.3,...,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10
4,2009,2,MenClothing,496.0,2009 - Feb,14389.200,14366.177,234.663,Democrats,8.3,...,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10

In [21]:
new_train_df['ProductCategory'] = new_train_df['ProductCategory'].map( {'WomenClothing': 1, 'MenClothing': 2, 'OtherClothing': 3} ).astype(int)

In [22]:
new_train_df = new_train_df.drop('Year-Month',axis=1)
new_train_df = new_train_df.drop('PartyInPower',axis=1)

In [23]:
new_train_df = new_train_df.drop('AdvertisingExpenses (in Thousand Dollars)',axis=1)
#freq_port = 0
#new_train_df['AdvertisingExpenses (in Thousand Dollars)'] = new_train_df['AdvertisingExpenses (in Thousand Dollars)'].replace('?','0')
#new_train_df['AdvertisingExpenses (in Thousand Dollars)'] = new_train_df['AdvertisingExpenses (in Thousand Dollars)'].fillna(freq_port)

In [24]:
new_train_df.head()

,Year,Month,ProductCategory,Sales(In ThousandDollars),Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
0,2009,1,1,1755.0,14421.753,14407.053,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55
1,2009,1,2,524.0,14421.753,14407.053,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55
2,2009,1,3,936.0,14421.753,14407.053,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55
3,2009,2,1,1729.0,14389.200,14366.177,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10
4,2009,2,2,496.0,14389.200,14366.177,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10

In [25]:
new_train_df.tail()

,Year,Month,ProductCategory,Sales(In ThousandDollars),Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
211,2014,11,2,803.0,17765.338,16243.055,259.382,5.8,11.99,10.47,24.78,67.53,-3.99,10.818,9.692,783,15.819,3.775,9.45
212,2014,11,3,1468.0,17765.338,16243.055,259.382,5.8,11.99,10.47,24.78,67.53,-3.99,10.818,9.692,783,15.819,3.775,9.45
213,2014,12,1,5664.0,17733.024,16221.180,258.080,5.6,11.99,10.47,24.59,68.30,1.14,10.818,9.692,760,15.345,3.775,9.45
214,2014,12,2,1070.0,17733.024,16221.180,258.080,5.6,11.99,10.47,24.59,68.30,1.14,10.818,9.692,760,15.345,3.775,9.45
215,2014,12,3,1967.0,17733.024,16221.180,258.080,5.6,11.99,10.47,24.59,68.30,1.14,10.818,9.692,760,15.345,3.775,9.45

In [26]:
test_data = test_df.values
print(len(test_data),test_df.shape)

(36, (36, 4))

In [27]:
i = 0
j = 72
new_test_data = []
headers = ['Year','Month','ProductCategory','Sales(In ThousandDollars)','Year-Month','Monthly Nominal GDP Index (inMillion$)',
           'Monthly Real GDP Index (inMillion$)','CPI','PartyInPower','unemployment rate','CommercialBankInterestRateonCreditCardPlans',
           'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan','Earnings or wages  in dollars per hour',
           'AdvertisingExpenses (in Thousand Dollars)','Cotton Monthly Price - US cents per Pound(lbs)','Change(in%)',
           'Average upland planted(million acres)','Average upland harvested(million acres)','yieldperharvested acre',
           'Production (in  480-lb netweright in million bales)','Mill use  (in  480-lb netweright in million bales)','Exports']
new_test_data.append(headers)
while(i < len(test_data)):
    inner = []
    temp_arr = (dependency_1_values[j][0].split(' '))
    print(temp_arr,test_data[i][0],test_data[i][1],month_dict[temp_arr[2]])
    if( (int(temp_arr[0]) == int(test_data[i][0])) and (int(test_data[i][1]) == int(month_dict[temp_arr[2]])) ):
        for l in range(0,4):
            inner.append(test_data[i][l])
        for k in range(0,18):
            inner.append(dependency_1_values[j][k])
    if(i%3 == 2):
        j = j + 1
    i = i + 1
    new_test_data.append(inner)

(['2015', '-', 'Jan'], 2015.0, 1.0, 1)
(['2015', '-', 'Jan'], 2015.0, 1.0, 1)
(['2015', '-', 'Jan'], 2015.0, 1.0, 1)
(['2015', '-', 'Feb'], 2015.0, 2.0, 2)
(['2015', '-', 'Feb'], 2015.0, 2.0, 2)
(['2015', '-', 'Feb'], 2015.0, 2.0, 2)
(['2015', '-', 'Mar'], 2015.0, 3.0, 3)
(['2015', '-', 'Mar'], 2015.0, 3.0, 3)
(['2015', '-', 'Mar'], 2015.0, 3.0, 3)
(['2015', '-', 'Apr'], 2015.0, 4.0, 4)
(['2015', '-', 'Apr'], 2015.0, 4.0, 4)
(['2015', '-', 'Apr'], 2015.0, 4.0, 4)
(['2015', '-', 'May'], 2015.0, 5.0, 5)
(['2015', '-', 'May'], 2015.0, 5.0, 5)
(['2015', '-', 'May'], 2015.0, 5.0, 5)
(['2015', '-', 'Jun'], 2015.0, 6.0, 6)
(['2015', '-', 'Jun'], 2015.0, 6.0, 6)
(['2015', '-', 'Jun'], 2015.0, 6.0, 6)
(['2015', '-', 'Jul'], 2015.0, 7.0, 7)
(['2015', '-', 'Jul'], 2015.0, 7.0, 7)
(['2015', '-', 'Jul'], 2015.0, 7.0, 7)
(['2015', '-', 'Aug'], 2015.0, 8.0, 8)
(['2015', '-', 'Aug'], 2015.0, 8.0, 8)
(['2015', '-', 'Aug'], 2015.0, 8.0, 8)
(['2015', '-', 'Sep'], 2015.0, 9.0, 9)
(['2015', '-', 'Sep'], 2015.0, 9.0, 9)
(['2015', '-', 'Sep'], 2015.0, 9.0, 9)
(['2015', '-', 'Oct'], 2015.0, 10.0, 10)
(['2015', '-', 'Oct'], 2015.0, 10.0, 10)
(['2015', '-', 'Oct'], 2015.0, 10.0, 10)
(['2015', '-', 'Nov'], 2015.0, 11.0, 11)
(['2015', '-', 'Nov'], 2015.0, 11.0, 11)
(['2015', '-', 'Nov'], 2015.0, 11.0, 11)
(['2015', '-', 'Dec'], 2015.0, 12.0, 12)
(['2015', '-', 'Dec'], 2015.0, 12.0, 12)
(['2015', '-', 'Dec'], 2015.0, 12.0, 12)

In [28]:
for i in new_test_data:
    print i

['Year', 'Month', 'ProductCategory', 'Sales(In ThousandDollars)', 'Year-Month', 'Monthly Nominal GDP Index (inMillion$)', 'Monthly Real GDP Index (inMillion$)', 'CPI', 'PartyInPower', 'unemployment rate', 'CommercialBankInterestRateonCreditCardPlans', 'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan', 'Earnings or wages  in dollars per hour', 'AdvertisingExpenses (in Thousand Dollars)', 'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)', 'Average upland planted(million acres)', 'Average upland harvested(million acres)', 'yieldperharvested acre', 'Production (in  480-lb netweright in million bales)', 'Mill use  (in  480-lb netweright in million bales)', 'Exports']
[2015.0, 1.0, 1.0, 1607.7777777777778, '2015 - Jan', 17792.117, 16319.786, 258.376, 'Democrats', 5.7, 11.99, 10.47, 24.88, '?', 67.35, -1.39, 10.845, 9.517999999999999, 760L, 15.495999999999999, 3.775, 9.45]
[2015.0, 1.0, 2.0, 1607.7777777777778, '2015 - Jan', 17792.117, 16319.786, 258.376, 'Democrats', 5.7, 11.99, 10.47, 24.88, '?', 67.35, -1.39, 10.845, 9.517999999999999, 760L, 15.495999999999999, 3.775, 9.45]
[2015.0, 1.0, 3.0, 1607.7777777777778, '2015 - Jan', 17792.117, 16319.786, 258.376, 'Democrats', 5.7, 11.99, 10.47, 24.88, '?', 67.35, -1.39, 10.845, 9.517999999999999, 760L, 15.495999999999999, 3.775, 9.45]
[2015.0, 2.0, 1.0, 1607.7777777777778, '2015 - Feb', 17931.046000000002, 16400.927, 259.24, 'Democrats', 5.5, 11.98, 9.85, 25.05, '?', 69.84, 3.7, 10.845, 9.517999999999999, 781L, 15.495999999999999, 3.625, 10.2]
[2015.0, 2.0, 2.0, 1607.7777777777778, '2015 - Feb', 17931.046000000002, 16400.927, 259.24, 'Democrats', 5.5, 11.98, 9.85, 25.05, '?', 69.84, 3.7, 10.845, 9.517999999999999, 781L, 15.495999999999999, 3.625, 10.2]
[2015.0, 2.0, 3.0, 1607.7777777777778, '2015 - Feb', 17931.046000000002, 16400.927, 259.24, 'Democrats', 5.5, 11.98, 9.85, 25.05, '?', 69.84, 3.7, 10.845, 9.517999999999999, 781L, 15.495999999999999, 3.625, 10.2]
[2015.0, 3.0, 1.0, 1607.7777777777778, '2015 - Mar', 17900.982, 16329.524, 259.647, 'Democrats', 5.4, 11.98, 9.85, 25.04, '?', 69.35, -0.7, 10.845, 9.517999999999999, 781L, 15.495999999999999, 3.625, 10.25]
[2015.0, 3.0, 2.0, 1607.7777777777778, '2015 - Mar', 17900.982, 16329.524, 259.647, 'Democrats', 5.4, 11.98, 9.85, 25.04, '?', 69.35, -0.7, 10.845, 9.517999999999999, 781L, 15.495999999999999, 3.625, 10.25]
[2015.0, 3.0, 3.0, 1607.7777777777778, '2015 - Mar', 17900.982, 16329.524, 259.647, 'Democrats', 5.4, 11.98, 9.85, 25.04, '?', 69.35, -0.7, 10.845, 9.517999999999999, 781L, 15.495999999999999, 3.625, 10.25]
[2015.0, 4.0, 1.0, 1607.7777777777778, '2015 - Apr', 18015.748, 16427.137, 259.959, 'Democrats', 5.4, 11.98, 9.85, 24.94, '?', 71.7, 3.39, 10.845, 9.517999999999999, 794L, 15.735, 3.625, 10.25]
[2015.0, 4.0, 2.0, 1607.7777777777778, '2015 - Apr', 18015.748, 16427.137, 259.959, 'Democrats', 5.4, 11.98, 9.85, 24.94, '?', 71.7, 3.39, 10.845, 9.517999999999999, 794L, 15.735, 3.625, 10.25]
[2015.0, 4.0, 3.0, 1607.7777777777778, '2015 - Apr', 18015.748, 16427.137, 259.959, 'Democrats', 5.4, 11.98, 9.85, 24.94, '?', 71.7, 3.39, 10.845, 9.517999999999999, 794L, 15.735, 3.625, 10.25]
[2015.0, 5.0, 1.0, 1607.7777777777778, '2015 - May', 18075.281000000003, 16434.482, 261.066, 'Democrats', 5.5, 12.04, 9.69, 24.88, '?', 72.86, 1.62, 10.845, 9.157, 826L, 15.753, 3.625, 10.3]
[2015.0, 5.0, 2.0, 1607.7777777777778, '2015 - May', 18075.281000000003, 16434.482, 261.066, 'Democrats', 5.5, 12.04, 9.69, 24.88, '?', 72.86, 1.62, 10.845, 9.157, 826L, 15.753, 3.625, 10.3]
[2015.0, 5.0, 3.0, 1607.7777777777778, '2015 - May', 18075.281000000003, 16434.482, 261.066, 'Democrats', 5.5, 12.04, 9.69, 24.88, '?', 72.86, 1.62, 10.845, 9.157, 826L, 15.753, 3.625, 10.3]
[2015.0, 6.0, 1.0, 1607.7777777777778, '2015 - Jun', 18188.642, 16521.302, 261.512, 'Democrats', 5.3, 12.04, 9.69, 24.77, '?', 72.35, -0.7, 9.399, 8.451, 797L, 14.03, 3.775, 10.15]
[2015.0, 6.0, 2.0, 1607.7777777777778, '2015 - Jun', 18188.642, 16521.302, 261.512, 'Democrats', 5.3, 12.04, 9.69, 24.77, '?', 72.35, -0.7, 9.399, 8.451, 797L, 14.03, 3.775, 10.15]
[2015.0, 6.0, 3.0, 1607.7777777777778, '2015 - Jun', 18188.642, 16521.302, 261.512, 'Democrats', 5.3, 12.04, 9.69, 24.77, '?', 72.35, -0.7, 9.399, 8.451, 797L, 14.03, 3.775, 10.15]
[2015.0, 7.0, 1.0, 1607.7777777777778, '2015 - Jul', 18163.858, 16476.0, 261.199, 'Democrats', 5.2, 12.04, 9.69, 24.83, '?', 72.35, 0.0, 8.85, 8.353, 807L, 14.035, 3.725, 10.25]
[2015.0, 7.0, 2.0, 1607.7777777777778, '2015 - Jul', 18163.858, 16476.0, 261.199, 'Democrats', 5.2, 12.04, 9.69, 24.83, '?', 72.35, 0.0, 8.85, 8.353, 807L, 14.035, 3.725, 10.25]
[2015.0, 7.0, 3.0, 1607.7777777777778, '2015 - Jul', 18163.858, 16476.0, 261.199, 'Democrats', 5.2, 12.04, 9.69, 24.83, '?', 72.35, 0.0, 8.85, 8.353, 807L, 14.035, 3.725, 10.25]
[2015.0, 8.0, 1.0, 1607.7777777777778, '2015 - Aug', 18201.393, 16505.538, 261.347, 'Democrats', 5.1, 12.1, 9.8, 25.04, '?', 71.82, -0.73, 8.75, 7.749, 784L, 12.65, 3.675, 9.475]
[2015.0, 8.0, 2.0, 1607.7777777777778, '2015 - Aug', 18201.393, 16505.538, 261.347, 'Democrats', 5.1, 12.1, 9.8, 25.04, '?', 71.82, -0.73, 8.75, 7.749, 784L, 12.65, 3.675, 9.475]
[2015.0, 8.0, 3.0, 1607.7777777777778, '2015 - Aug', 18201.393, 16505.538, 261.347, 'Democrats', 5.1, 12.1, 9.8, 25.04, '?', 71.82, -0.73, 8.75, 7.749, 784L, 12.65, 3.675, 9.475]
[2015.0, 9.0, 1.0, 1607.7777777777778, '2015 - Sep', 18317.816000000003, 16601.49, 261.887, 'Democrats', 5.0, 12.1, 9.8, 25.05, '?', 68.74, -4.29, 8.398, 8.012, 777L, 12.977, 3.675, 9.7]
[2015.0, 9.0, 2.0, 1607.7777777777778, '2015 - Sep', 18317.816000000003, 16601.49, 261.887, 'Democrats', 5.0, 12.1, 9.8, 25.05, '?', 68.74, -4.29, 8.398, 8.012, 777L, 12.977, 3.675, 9.7]
[2015.0, 9.0, 3.0, 1607.7777777777778, '2015 - Sep', 18317.816000000003, 16601.49, 261.887, 'Democrats', 5.0, 12.1, 9.8, 25.05, '?', 68.74, -4.29, 8.398, 8.012, 777L, 12.977, 3.675, 9.7]
[2015.0, 10.0, 1.0, 1607.7777777777778, '2015 - Oct', 18278.304, 16540.86, 261.515, 'Democrats', 5.0, 12.1, 9.8, 25.14, '183', 69.03, 0.42, 8.398, 8.012, 772L, 12.887, 3.675, 9.7]
[2015.0, 10.0, 2.0, 1607.7777777777778, '2015 - Oct', 18278.304, 16540.86, 261.515, 'Democrats', 5.0, 12.1, 9.8, 25.14, '183', 69.03, 0.42, 8.398, 8.012, 772L, 12.887, 3.675, 9.7]
[2015.0, 10.0, 3.0, 1607.7777777777778, '2015 - Oct', 18278.304, 16540.86, 261.515, 'Democrats', 5.0, 12.1, 9.8, 25.14, '183', 69.03, 0.42, 8.398, 8.012, 772L, 12.887, 3.675, 9.7]
[2015.0, 11.0, 1.0, 1607.7777777777778, '2015 - Nov', 18266.245, 16524.199, 261.009, 'Democrats', 5.0, 12.22, 9.66, 25.38, '?', 69.22, 0.28, 8.398, 7.995, 770L, 12.83, 3.675, 9.7]
[2015.0, 11.0, 2.0, 1607.7777777777778, '2015 - Nov', 18266.245, 16524.199, 261.009, 'Democrats', 5.0, 12.22, 9.66, 25.38, '?', 69.22, 0.28, 8.398, 7.995, 770L, 12.83, 3.675, 9.7]
[2015.0, 11.0, 3.0, 1607.7777777777778, '2015 - Nov', 18266.245, 16524.199, 261.009, 'Democrats', 5.0, 12.22, 9.66, 25.38, '?', 69.22, 0.28, 8.398, 7.995, 770L, 12.83, 3.675, 9.7]
[2015.0, 12.0, 1.0, 1607.7777777777778, '2015 - Dec', 18317.129, 16578.005, 259.941, 'Democrats', 5.0, 12.22, 9.66, 25.21, '?', 70.39, 1.69, 8.398, 7.995, 755L, 12.58, 3.675, 9.5]
[2015.0, 12.0, 2.0, 1607.7777777777778, '2015 - Dec', 18317.129, 16578.005, 259.941, 'Democrats', 5.0, 12.22, 9.66, 25.21, '?', 70.39, 1.69, 8.398, 7.995, 755L, 12.58, 3.675, 9.5]
[2015.0, 12.0, 3.0, 1607.7777777777778, '2015 - Dec', 18317.129, 16578.005, 259.941, 'Democrats', 5.0, 12.22, 9.66, 25.21, '?', 70.39, 1.69, 8.398, 7.995, 755L, 12.58, 3.675, 9.5]

In [29]:
output_filename = os.path.join('E:/IIITH AIML/week14/','new_test_data1.csv')
f = open(output_filename, 'ab')
writer = csv.writer(f)
for i in new_test_data:
    writer.writerow(i)
f.close()

In [30]:
new_test_df = pd.read_csv("E:/IIITH AIML/week14/new_test_data1.csv")

In [31]:
new_test_df['ProductCategory'] = new_test_df['ProductCategory'].map( {'WomenClothing': 1, 'MenClothing': 2, 'OtherClothing': 3} ).astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [32]:
new_test_df = new_test_df.drop('Year-Month',axis=1)
new_test_df = new_test_df.drop('PartyInPower',axis=1)
new_test_df = new_test_df.drop('AdvertisingExpenses (in Thousand Dollars)',axis=1)

In [33]:
new_test_df.head()

,Year,Month,ProductCategory,Sales(In ThousandDollars),Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
0,2015.0,1.0,1.0,1607.777778,17792.117,16319.786,258.376,5.7,11.99,10.47,24.88,67.35,-1.39,10.845,9.518,760,15.496,3.775,9.45
1,2015.0,1.0,2.0,1607.777778,17792.117,16319.786,258.376,5.7,11.99,10.47,24.88,67.35,-1.39,10.845,9.518,760,15.496,3.775,9.45
2,2015.0,1.0,3.0,1607.777778,17792.117,16319.786,258.376,5.7,11.99,10.47,24.88,67.35,-1.39,10.845,9.518,760,15.496,3.775,9.45
3,2015.0,2.0,1.0,1607.777778,17931.046,16400.927,259.240,5.5,11.98,9.85,25.05,69.84,3.70,10.845,9.518,781,15.496,3.625,10.20
4,2015.0,2.0,2.0,1607.777778,17931.046,16400.927,259.240,5.5,11.98,9.85,25.05,69.84,3.70,10.845,9.518,781,15.496,3.625,10.20

In [34]:
new_train_df = pd.get_dummies(new_train_df)
new_test_df = pd.get_dummies(new_test_df)

In [35]:
X_train = new_train_df.drop("Sales(In ThousandDollars)", axis=1)
Y_train = new_train_df["Sales(In ThousandDollars)"]
X_test  = new_test_df.drop("Sales(In ThousandDollars)", axis=1)
X_train.shape, Y_train.shape, X_test.shape

((216, 18), (216L,), (36, 18))

In [36]:
svr = SVR()
svr.fit(X_train, Y_train)
Y_pred = svr.predict(X_test)
acc_svr = round(svr.score(X_train, Y_train) * 100, 2)
acc_svr

NameError: name 'X_train' is not defined

In [45]:
linreg = LinearRegression()
linreg.fit(X_train, Y_train)
Y_pred = linreg.predict(X_test)
acc_lin = round(linreg.score(X_train, Y_train) * 100, 2)
acc_lin

56.33

In [38]:
sub = pd.read_csv("E:/IIITH AIML/week14/Sample_Submission.csv")

In [39]:
submission = pd.DataFrame({
        "Year": sub["Year"],
        "Sales(In ThousandDollars)": Y_pred
    })
submission.to_csv('Mysubmission1.csv', index=False)

In [56]:
from sklearn import linear_model
from sklearn import svm

classifiers = [
    svm.SVR(),
    linear_model.SGDRegressor(),
    linear_model.BayesianRidge(),
    linear_model.LassoLars(),
    linear_model.ARDRegression(),
    linear_model.PassiveAggressiveRegressor(),
    linear_model.TheilSenRegressor(),
    linear_model.LinearRegression()]

for item in classifiers:
    print(item)
    clf = item
    clf.fit(X_train, Y_train)
    clf.predict(X_test)
    print(round(clf.score(X_train, Y_train) * 100, 2))
    print("--------------------------------------------------------------")

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)
-20.96
--------------------------------------------------------------
SGDRegressor(alpha=0.0001, average=False, epsilon=0.1, eta0=0.01,
       fit_intercept=True, l1_ratio=0.15, learning_rate='invscaling',
       loss='squared_loss', n_iter=5, penalty='l2', power_t=0.25,
       random_state=None, shuffle=True, verbose=0, warm_start=False)
-4.69595514296e+31
--------------------------------------------------------------
BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, compute_score=False, copy_X=True,
       fit_intercept=True, lambda_1=1e-06, lambda_2=1e-06, n_iter=300,
       normalize=False, tol=0.001, verbose=False)
4.82
--------------------------------------------------------------
LassoLars(alpha=1.0, copy_X=True, eps=2.2204460492503131e-16,
     fit_intercept=True, fit_path=True, max_iter=500, normalize=True,
     positive=False, precompute='auto', verbose=False)
55.12
--------------------------------------------------------------
ARDRegression(alpha_1=1e-06, alpha_2=1e-06, compute_score=False, copy_X=True,
       fit_intercept=True, lambda_1=1e-06, lambda_2=1e-06, n_iter=300,
       normalize=False, threshold_lambda=10000.0, tol=0.001, verbose=False)
54.86
--------------------------------------------------------------
PassiveAggressiveRegressor(C=1.0, epsilon=0.1, fit_intercept=True,
              loss='epsilon_insensitive', n_iter=5, random_state=None,
              shuffle=True, verbose=0, warm_start=False)
-7.61
--------------------------------------------------------------
TheilSenRegressor(copy_X=True, fit_intercept=True, max_iter=300,
         max_subpopulation=10000, n_jobs=1, n_subsamples=None,
         random_state=None, tol=0.001, verbose=False)
55.71
--------------------------------------------------------------
LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)
56.33
--------------------------------------------------------------

In [36]:
# Decision Tree

decision_tree = DecisionTreeRegressor()
decision_tree.fit(X_train, Y_train)
Y_pred = decision_tree.predict(X_test)
acc_decision_tree = round(decision_tree.score(X_train, Y_train) * 100, 2)
acc_decision_tree

100.0

In [71]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor()
regr.fit(X_train, Y_train)
Y_pred = regr.predict(X_test)
acc_decision_tree = round(regr.score(X_train, Y_train) * 100, 2)
acc_decision_tree

97.89

In [70]:
sgd = SGDRegressor()
sgd.fit(X_train, Y_train)
Y_pred = sgd.predict(X_test)
acc_sgd = round(sgd.score(X_train, Y_train) * 100, 2)
acc_sgd

-2.880371987301746e+31

In [72]:
knn = KNeighborsRegressor(n_neighbors = 3)
knn.fit(X_train, Y_train)
Y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_train, Y_train) * 100, 2)
acc_knn

10.15

In [73]:
svr = LinearSVR()
svr.fit(X_train, Y_train)
Y_pred = svr.predict(X_test)
acc_svr = round(svr.score(X_train, Y_train) * 100, 2)
acc_svr

-91.82

In [75]:
from sklearn.ensemble import AdaBoostRegressor
bdt = AdaBoostRegressor(DecisionTreeRegressor(max_depth=8),
                         n_estimators=200)
bdt.fit(X_train, Y_train)
Y_pred = bdt.predict(X_test)
bdt.score(X_train, Y_train)
acc_boosted_tree = round(bdt.score(X_train, Y_train) * 100, 2)
acc_boosted_tree

99.91